// Container breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;

// Colors
$main-light-text-color:#FFFFFF;
$main-dark-text-color: #333333;
$main-green-color: #28A745;
$blog-bg-color: #0284D0;
$input-text-color: #808080;
$main-border-color: #F5F5F5;
$form-bg-color: #F4F4F4;