<section class="team" id="team">
  <div class="container team__wrapper">
    <h3 class="team__subtitle">Who we are</h3>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__boxes">
      <li class="team__box">
        <div class="team__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/team/person1.webp    1x,
                ./images/team/person1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/team/person1.jpg    1x,
                ./images/team/person1@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="team__img"
              src="./images/team/person1.jpg"
              alt="person1"
            />
          </picture>
          <div class="overlay">
            <ul class="overlay__link-items">
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#linkedIn"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="team__team-member-info">
          <div class="team__team-member-name">John Doe</div>
          <div class="team__team-member-position">President</div>
        </div>
      </li>
      <li class="team__box">
        <div class="team__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/team/person2.webp    1x,
                ./images/team/person2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/team/person2.jpg    1x,
                ./images/team/person2@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="team__img"
              src="./images/team/person2.jpg"
              alt="person2"
            />
          </picture>
          <div class="overlay">
            <ul class="overlay__link-items">
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#linkedIn"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team__team-member-info">
          <div class="team__team-member-name">Jane Doe</div>
          <div class="team__team-member-position">Vice President</div>
        </div>
      </li>
      <li class="team__box">
        <div class="team__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/team/person3.webp    1x,
                ./images/team/person3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/team/person3.jpg    1x,
                ./images/team/person3@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="team__img"
              src="./images/team/person3.jpg"
              alt="person3"
            />
          </picture>
          <div class="overlay">
            <ul class="overlay__link-items">
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="overlay__link-item">
                <a class="overlay__link" href="#">
                  <svg class="overlay__icon">
                    <use href="./images/sprite.svg#linkedIn"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team__team-member-info">
          <div class="team__team-member-name">Steve Smith</div>
          <div class="team__team-member-position">Marketing Head</div>
        </div>
      </li>
    </ul>
  </div>
</section>
