// --------------------MOBILE---------------------------
.blog__text-wrapper {
  background-color: $blog-bg-color;
  padding: 40px 20px;
}

.blog {
  &__img {
    @extend .img;
  }
  &__data {
    @extend .subtitle;
  }

  &__title {
    @extend .title;
  }

  &__desc {
    @extend .desc;
  }

  &__btn {
    @extend .btn;
    border: 1px solid $main-light-text-color;
    background-color: $blog-bg-color;
    padding: 10px 41px;
    transition: background-color 250ms linear, color 250ms linear;
    &:hover {
      background-color: $main-light-text-color;
      color: $blog-bg-color;
    }
  }
}

// --------------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .blog {
    &__wrapper {
      display: flex;
      flex-direction: row-reverse;
    }
    &__text-wrapper {
      padding: 40px 53px 40px 32px;
    }
    &__btn {
      padding: 11px 31px 10px 42px;
    }
  }
}

// --------------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
  .blog {
    &__img {
      height: auto;
    }
    &__text-wrapper {
      padding: 80px 56px 80px 28px;
    }
    &__btn {
      padding: 10px 36px 11px 37px;
    }
  }
}
