.contacts__wrapper {
    width: $mobile;
}

.contacts {
    &__img {
        @extend .img;
    }
}

.form{
    background-color: $form-bg-color;
    padding: 40px 20px;

    &__title{
        @extend .title;
        color: $main-dark-text-color;
        margin-bottom: 0;
    }

    &__input{
        width: 280px;
        height: 40px;
        background-color: $main-light-text-color;
        border: 1px solid $main-border-color;
        margin-top: 32px;
        padding-left: 8px;


        &::placeholder{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: $input-text-color;
        }
    }

    &__btn {
        @extend .btn;
        text-align: center;
        padding: 10px 0;
        width: 280px;
        margin: 40px auto 0 auto;
    }    
}