// --------------------MOBILE---------------------------
.footer {
  background-color: $main-dark-text-color;
  padding: 20px 33px;
  &__link-items {
    display: flex;
    justify-content: center;
  }
  &__link-item {
    @extend .social-media-link-item;
  }
  &__icon {
    @extend .social-media-link-icon;

    &:hover {
      fill: $main-green-color;
    }
  }
  &__text {
    @extend .desc;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

// --------------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .footer {
    padding: 20px 0;

    &__text {
      margin-top: 6px;
    }
  }
}
