// --------------------MOBILE---------------------------
.home-page{
    width: $mobile;
    position: relative;
    height: 100%;
    background-image: url(../images/home/showcase.jpg);
    background-position: center;
    background-size: cover;
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px 24px;
        }
}

.logo{
    display: flex;
    align-items:flex-end;
    margin-bottom: 12px;
    padding-left: 6px;
    &__link{
        margin-right: 5px;
    }
    &__icon{
        width: 39px;
        height: 31px;

    }
}
.logo__first-word{
    font-family: 'Open Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: $main-green-color;
}

.logo__second-word {
    font-family: 'Open Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: $main-light-text-color;
}

.masthead__wrapper{
    margin-bottom: 40px;
}

.navigation{
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &____item{
        padding: 0 6px 3px 6px;      
    }
    &__link{
        font-family: 'Open Sans', sans-serif;;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $main-light-text-color;
        padding: 0 6px 3px 6px;
        &:hover{
            border-bottom: 3px solid $main-green-color;
        }

    }
}

.hero {
    &__title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 52px;
        line-height: 66px;
        text-align: center;
        color: #E9E9E9;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 37px;
        text-align: center;
        color: #E9E9E9;
        margin-bottom: 24px;
    }

    &__btn {
        @extend .btn;
        text-align: center;
        padding: 10px 30px;
        margin: auto;
    }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .header__wrapper {
        background-image: url(../images/home/showcase@2x.jpg);
        background-size: cover;
    }
}